<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src = 'images/feature1.webp' width="150px" height="150px" style="border-radius: 20px;">
        <h2 class="h2">Intuitive Virtual Store Creation<small class="d-none"></small></h2>
        <p>Empower your retail vision with our user-friendly drag-and-drop tools, designed for business owners to craft immersive virtual stores. No programming skills? No problem. Bring your store to life in a virtual landscape, attracting customers with an engaging, three-dimensional shopping environment.
        </p>
    </div>

    <div class="col-lg-4">
        <img src = 'images/feature2.webp' width="150px" height="150px"style="border-radius: 20px;">
        <h2 class="h2">Augmented Reality Try-Ons <small class="d-none"></small></h2>
        <p>Experience the future of shopping from the comfort of your home. Our AR environment lets shoppers view and try on items like clothes, offering a real-life glimpse of how products look and fit. Make confident purchase decisions by seeing items on yourself, eliminating guesswork and enhancing satisfaction.
        </p>
    </div>
    <div class="col-lg-4">
        <img src = 'images/feature3.webp' width="150px" height="150px"style="border-radius: 20px;">
        <h2 class="h2">Gesture-Controlled Shopping <small class="d-none"></small></h2>
        <p>Navigate through our VR shopping world with natural gesture controls. Interact with products in a way that feels intuitive and real, creating a seamless and immersive shopping experience. From exploring product features to simulating real-life use, shopping becomes an adventure in itself.
        </p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src = 'images/feature4.webp' width="150px" height="150px"style="border-radius: 20px;">
        <h2 class="h2">Seamless AR/VR Mode Switching <small class="d-none"></small></h2>
        <p>With Virtique, flexibility is at your fingertips. Easily switch between AR and VR modes to tailor your shopping experience to your current needs. Whether you're visualizing how a new sofa fits in your living room or exploring a virtual mall, the power of choice is yours.</p>
    </div>
    <div class="col-lg-4">
        <img src = 'images/feature5.webp' width="150px" height="150px"style="border-radius: 20px;">
        <h2 class="h2">API Integration for Developers <small class="d-none"></small></h2>
        <p>Extend the innovative AR/VR shopping features to your e-commerce platform with Virtique's APIs. Designed for seamless integration, our tools enable developers to enrich their existing systems with immersive shopping experiences, setting a new standard for customer engagement.
        </p>
    </div>
    <div class="col-lg-4">
        <img src = 'images/feature6.webp' width="150px" height="150px"style="border-radius: 20px;">
        <h2 class="h2">Virtual Sales Events <small class="d-none"></small></h2>
        <p>Transform how you connect with customers by hosting virtual sales events in Virtique. Create an engaging, dynamic shopping experience that not only drives traffic and sales but also builds a sense of community among shoppers. Unleash the potential of virtual retail to captivate and inspire.
        </p>
    </div>
</div>
